.card-screenshots {
  display: flex;
  border-bottom: $card-border-width solid $card-border-color;
}

.card-screenshots-img:first-child() {
  border-right: $card-border-width solid $card-border-color;
}